.header{
    background-image: url(https://www.forestryengland.uk/sites/default/files/styles/forest_slide_wide_wide/public/media/1049934.012.jpg?h=2aed26ad&itok=nrqUJvqD);
    background-repeat: no-repeat;
    height: 100vh;
}

.colorbt{
    background-color: #05655e;
}

.bg-nav-custom{
    background-color: rgba(0, 0, 0, 0.300);
}

.titulo1{
font-size: 950;
font-weight:600; 
letter-spacing: 0!important;
-webkit-text-size-adjust: 100%;
}

.titulo2{
    font-weight:600; 
    color: white;
    letter-spacing: 0!important;
    -webkit-text-size-adjust: 100%;
    text-shadow: 0 0 0 700;
    }

.main1{
    background-color: #05655e;
    justify-content: center;
}

.servicios{
    color: white;;
}

.main2{
    background-color: #05655e;
    justify-content: center;
}

.cajablog{
    background-color: white;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 10px;
    margin: 10px;
}

.comenzar{
    background-color: #252929;
    color: white;
    font-size: large;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 20px;
    margin: 5px;
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    transition: 0.5s all;
}

.comenzar:hover{
    transform: scale(102%)
}

.letrapequeña{
    font-size: small;

}

.footer{
    background-color: #ccc;
    padding: 50px 100px;
    justify-content: center;
}

.subtitulo1{
    color: blue;
}

.caja{
    width: 300px;
    height: 100px;
}